
A:link {color: gray}
A:visited, A:active {color: green}
A:hover {text-decoration: overline; color: teal}
	
Body {
	background-color: rgb(223, 237, 152);
	font-family: cambria;
	color: gray	
	}

H1 {font-size: 40pt; text-align: center}
H2 {font-size: 20pt; text-align: center}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt; text-align: center;}

.summary{font-size: 12.5pt; font-family: monospace; }

.MissionS{
	font-size: 15.5pt; 
	font-family: monospace;
	text-align: start;
}

Table {
	width: 365px; 
	font-family: monospace; 
	color: white; 
	background-color: green;
	margin: .4em;
	border-color: darkgreen;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.contact{
	text-align: center;
}

Form {
	font-family: monospace; 
	text-align: center; 
	color: white; 
	background-color: green}

